*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
}
#cc1{
    background-color: #cdc8c8;
    padding-top: 4px;
    width: 100%;

    
}
.contianer{
    padding-left: 90px;
    padding-right: 90px;
}
#img1{
    width: 48px;
}
#cc1-c1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#gp1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}
span,h1,h2,h3,h4,h5,h6{
    .poppins-bold {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
      }
      
}

span{
    color: gray;
    font-size: 18px;
    width: 100%;
    max-width: 1400px;
}
#cart-1{
    width: 58px;
    
    background-color: green;
}
.header-section1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 2px black;
}
.img-span{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.images1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}
#header-span{
    font-size: 30px;
    font-weight: 600;
    color: black;
}
.header-input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    
}
.header-1{
    background-color: aliceblue;
    padding-top: 30px;
    border-bottom: .5px solid rgb(206, 201, 201);
}

.header-location{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(231, 221, 221);
    width: 150px;
    height: 40px;
    border-radius: 10px ;
    color: rgb(182, 184, 185);
    padding-left: 10px;
    padding-right: 20px;

}
#location-1{
    font-size: 20px;
}
#header-input1{
    display: none;
}
.header-location{
    display: none;
    flex-direction: row;
    justify-content: space-between;
    
}
input{
    border: none;
    
}
#section-2{
    display: none;
    padding-top: 40px;
}
#header-input1{
    border: 2px solid rgb(221, 210, 210);
    border-radius: 10px ;
    width: 400px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header{
    background-color: aliceblue;
}





@media screen and (min-width: 990px) {
      .images2{
        display: none;
      }
      #header-input1{
        display: flex;
    }
    .header-location{
        display: flex;
    }
    #section-2{
        display: flex;
    }
    
  }